name: 'Execute tests'

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  tests:
    name: Run local unit tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Local unit tests with Gradle
        run: ./gradlew testFDroidDebugUnitTest
        env:
          JAVA_TOOL_OPTIONS: "-Djava.net.preferIPv4Stack=true"
      - name: Upload tests results
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: test-results
          path: ./**/testFDroidDebugUnitTest/TEST-*.xml
