name: 'Execute tests'

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  tests:
    name: Run local unit tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Local unit tests with Gradle
        run: ./gradlew testDebugUnitTest
      - name: Upload tests results
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: test-results
          path: ./**/testDebugUnitTest/TEST-*.xml
